/*GENERAL STYLING*/
img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/*NAVBAR STYLING*/
#navvy {
    border: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding-left: 40px;
}

div.container-fluid {
    background-color: #474E5D;
    margin-left: 0px;
}

#navvy a {
    color: #E4EFF0;
}
/*HEADER STYLING*/

.jumbo {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#villa {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    height: 400px;
    padding-top: 20px;
    margin: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#map {
    background-image: url('images/turquoise map.jpg');
    background-size: cover;
    height: 400px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*LOCATIONS STYLING*/
.gray {
    text-align: center;
    background-color: #474E5D;
    color: rgb(255,255,255);
    height: 200px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.grayLocationHead {
    margin: 0;
    padding-top: 70px;
    font-weight: 300;
    font-size: 275%;
}

.grayLocationSubhead {
    font-size: 175%;
}

.whiteLocation {
    text-align: left;
    background-color: rgb(255,255,255);
    color: rgb(106,106,106);
    height: 600px;
    margin: auto;
    border: 0px;
    padding: 60px;
    font-family: 'Raleway', sans-serif;
}

.locationPhoto {
    margin: auto;
    padding: 0px;
    height: auto;
    width: 100%;
    border: 1px;
    border-style: outset;
}

.btn-primary {
    background-image: none;
    background-color: #474E5D;
    border-color: #474E5D;
    border-radius: 0px;
    color: rgb(255,255,255);
}

    .btn-primary:hover {
        background-color: #474E5D;
        border-color: #474E5D;
    }

.grayLocation {
    text-align: left;
    background-color: #474E5D;
    color: rgb(255,255,255);
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*AMENITIES STYLING*/


#row1 {
    margin-top: 90px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    height: 600px;
}

.overlayBox {
    
    padding-top: 225px;

}
#poolNight {
    background-image: url('images/pool night.jpg');
    background-size: cover;
    height: 500px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}
#poolDay {
    background-image: url('images/pool day.jpg');
    background-size: cover;
    height: 500px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}
.whiteBox {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding-top: 75px;
}
