/*GENERAL STYLING*/
img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/*NAVBAR STYLING*/
#navvy {
    border: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 0px;
}

.navbar-brand {
    padding-left: 40px;
}

div.container-fluid {
    background-color: #474E5D;
    margin-left: 0px;
}

#navvy a {
    color: #E4EFF0;
}
/*HEADER STYLING*/

.jumbo {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#villa {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    height: 400px;
    padding-top: 20px;
    margin: 0px;
    border: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#map {
    background-image: url('images/turquoise map.jpg');
    background-size: cover;
    height: 400px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*LOCATIONS STYLING*/
.gray {
    text-align: center;
    background-color: #474E5D;
    color: rgb(255,255,255);
    height: 200px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.grayLocationHead {
    margin: 0;
    padding-top: 70px;
    font-weight: 300;
    font-size: 275%;
}

.grayLocationSubhead {
    font-size: 175%;
}

.whiteLocation {
    text-align: left;
    background-color: rgb(255,255,255);
    color: rgb(106,106,106);
    height: 600px;
    margin: auto;
    border: 0px;
    padding: 60px;
    font-family: 'Raleway', sans-serif;
}

.locationPhoto {
    margin: auto;
    padding: 0px;
    height: auto;
    width: 100%;
    border: 1px;
    border-style: outset;
}

.btn-primary {
    background-image: none;
    background-color: #474E5D;
    border-color: #474E5D;
    border-radius: 0px;
    color: rgb(255,255,255);
}

    .btn-primary:hover {
        background-color: #474E5D;
        border-color: #474E5D;
    }

.grayLocation {
    text-align: left;
    background-color: #474E5D;
    color: rgb(255,255,255);
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*AMENITIES STYLING*/


#row1 {
    margin-top: 90px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    height: 600px;
}

#row2 {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    height: 600px;
}

#row3 {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 90px;
    padding: 0px;
    height: 600px;
}

.overlayBox {
    padding: 0px;
    margin: 0px;
    line-height: 600px;
}

#poolNight {
    background-image: url('images/pool night.jpg');
    background-size: cover;
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#poolDay {
    background-image: url('images/pool day.jpg');
    background-size: cover;
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#dining {
    background-image: url(images/patio.jpg);
    background-size: cover;
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#dining2 {
    background-image: url('images/outdoor dining.jpg');
    background-size: cover;
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

#bedroom {
    background-image: url('images/light bedroom.jpg');
    background-size: cover;
    height: 600px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(251,251,253);
}

.whiteBox {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 0px;
}

/*CAROUSEL STYLING*/

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    color: #474E5D;
    text-align: center;
    margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
    transition-property: opacity;

}

#fade-quote-carousel.carousel .carousel-inner .active {
    transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #474E5D;
    border: none;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 200%
}
/*CONTACT STYLING*/
#contact {
    height: 300px;
    background-color: rgb(255,255,255);
    margin: 0px;
}
.red{
    color:red;
    }
.form-area
{
    background-color: rgb(255,255,255);
	padding: 50px;
	margin: 0px;
	border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    color: #474E5D;
	}
#info {

    padding-top: 75px;
    padding-left: 75px;
    padding-right: 0px;
    background-color: rgb(255,255,255);
	border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    color: #474E5D;
    margin: 0px;

}
#footer {
    text-align: center;
    background-color: #474E5D;
    color: rgb(255,255,255);
    height: 200px;
    margin: 0px;
    border: 0px;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
}

